html, body {
    height: 100%;
    width: 100%;
    margin: 0em;
}
body {
    padding: 30px;
    padding-top: 60px;
    background: #121212;
    color: #efefef;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #efefef;
}

.icon {
    height: 100%;
    vertical-align: top;
    padding: 5px;
    display: inline-block;
    position: relative;
}
.icon img {
    height: 100%;
    display: block;
}
.icon p {
    display: none;
}
.icon .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}
.icon .buttons button {
    padding: 2px;
}
.firstIcon:hover img {
    background-color: rgba(0, 0, 0, 0.5);
    filter: brightness(50%);
}
.firstIcon:hover .buttons {
    display: block;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #232323; 
}
::-webkit-scrollbar-thumb {
    background: #555555; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}